<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <title>Student Housing Finder - Edit Property</title>

    <style>
          /* Always set the map height explicitly to define the size of the div
          * element that contains the map. */
          #map {
            height: 30em;
            width:150em;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1daa76;">
      <a class="navbar-brand" href="#"><img src="/images/unirooms.jpg" height=30 width=100></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText, navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if(user.role== "admin"){ %>
          <li class="nav-item">
            <a class="nav-link" href="/addProperty">Add Property</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/propertylist">View Properties</a>
          </li>
          <% if(user.role== "admin"){ %>
          <li class="nav-item">
            <a class="nav-link" href="/userlist">View Users</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/favourites">My Favourites</a>
          </li>
        </ul>
        <span class="navbar-text">
            <% if(user.role== "admin"){ %>
                <b style="color:#aa3f3f">ADMIN</b>
            <% } %>

          <b>Welcome <%= user.firstName %></b>, <%= user.email %> <a href="/logout">logout </a>
        </span>
      </div>
    </nav>
    <div class="container text-center">
        <div class="row">
<!--             <div class="col-sm-6">
                <h3>Property Name: <%= accomodation.properties.addressL1 %></h3>
                <b>Address line 1: </b><%= accomodation.properties.addressL1 %></br>
                <b> Address line 2: </b>
                <%= accomodation.properties.addressL2 %></br>
                <b> City: </b>
                <%= accomodation.properties.city %></br>
                <b> County: </b>
                <%= accomodation.properties.county %></br>
                <b> Postcode: </b>
                <%= accomodation.properties.postcode %></br> 
                <b> Longitude/Latitude:</b>-->
                <p id="coords" hidden><%= accomodation.geometry.coordinates %></p>
<!--                 <b>Description</b>
                <%= accomodation.properties.description %></br>
                <b>Number of rooms</b>
                <%= accomodation.properties.numRooms %></br>
                <b>Other Information</b></br>
                <b>Internet Included</b>
                <%= accomodation.properties.internetIncluded %>
            </div> -->

            <div class="col-sm-6">
                <h3>Edit property</h3>
                <form action="/editProperty" method="post">

                  <div class="row form-group input_group">
                      <div class="col-sm-12">
                          <input type="text" name="propID" id="propID" class="form-control" value="<%= accomodation._id %>" required hidden>
                      </div>
                  </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-12">
                            <input type="text" name="addressL1" id="addressL1" class="form-control" value="<%= accomodation.properties.addressL1 %>" required>
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-12">
                            <input type="text" name="addressL2" id="addressL2" class="form-control" value="<%= accomodation.properties.addressL2 %>" placeholder="Address Line 2">
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-12">
                            <input type="text" name="city" id="city" class="form-control" placeholder="City" value="<%= accomodation.properties.city %>" required>
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-12">
                            <input type="text" name="county" id="county" class="form-control" placeholder="County" value="<%= accomodation.properties.county %>" required>
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-12">
                            <input type="text" name="postcode" id="postcode" class="form-control" placeholder="Postcode" value="<%= accomodation.properties.postcode %>" required>
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-6">
                            <input type="text" name="latitude" id="latitude" class="form-control" placeholder="50.3790" value="<%= accomodation.geometry.coordinates %>" disabled>
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-12">
                            <textarea name="description" id="description" class="form-control" placeholder="Property description" value="" rows="5" required><%= accomodation.properties.description %></textarea>
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-12">
                            <input type="number" name="numRooms" id="numRooms" class="form-control" placeholder="Number of rooms" value="<%= accomodation.properties.numRooms %>" required>
                        </div>
                    </div>


                    <p>Key Features</p>
                    <div class="row form-group input_group">

                        <div class="col-sm-3">
                          <% if(accomodation.properties.internetIncluded == true){ %>
                            <input type="checkbox" name="internetIncluded" id="internetIncluded" checked> Internet Included<br>
                            <% } else { %>
                            <input type="checkbox" name="internetIncluded" id="internetIncluded" > Internet Included<br>
                            <% } %>
                        </div>
                        <div class="col-sm-3">
                            <% if(accomodation.properties.tvLicenseIncluded == true){ %>
                              <input type="checkbox" name="tvLicenseIncluded" id="tvLicenseIncluded" checked> TV License Included<br>
                              <% } else { %>
                              <input type="checkbox" name="tvLicenseIncluded" id="tvLicenseIncluded" > TV License Included<br>
                              <% } %>
                        </div>
                        <div class="col-sm-3">
                            <% if(accomodation.properties.cleanerIncluded == true){ %>
                              <input type="checkbox" name="cleanerIncluded" id="cleanerIncluded" checked> Cleaner Included<br>
                              <% } else { %>
                              <input type="checkbox" name="cleanerIncluded" id="cleanerIncluded" > Cleaner Included<br>
                              <% } %>
                        </div>
                        <div class="col-sm-3">
                            <% if(accomodation.properties.loungeIncluded == true){ %>
                              <input type="checkbox" name="loungeIncluded" id="loungeIncluded" checked> Lounge Included<br>
                              <% } else { %>
                              <input type="checkbox" name="loungeIncluded" id="loungeIncluded" > Lounge Included<br>
                              <% } %>
                        </div>
                    </div>

                    <div class="row form-group input_group">
                        <div class="col-sm-3">
                            <% if(accomodation.properties.parkingIncluded == true){ %>
                              <input type="checkbox" name="parkingIncluded" id="parkingIncluded" checked> Parking Included<br>
                              <% } else { %>
                              <input type="checkbox" name="parkingIncluded" id="parkingIncluded" > Parking Included<br>
                              <% } %>
                        </div>
                        <div class="col-sm-3">
                            <% if(accomodation.properties.secureLocksIncluded == true){ %>
                              <input type="checkbox" name="secureLocksIncluded" id="secureLocksIncluded" checked> Secure Locks Included<br>
                              <% } else { %>
                              <input type="checkbox" name="secureLocksIncluded" id="secureLocksIncluded" > Secure Locks Included<br>
                              <% } %>
                        </div>
                        <div class="col-sm-3">
                            <% if(accomodation.properties.secureLocksIncluded == true){ %>
                              <input type="checkbox" name="bathIncluded" id="bathIncluded" checked> BathIncluded<br>
                              <% } else { %>
                              <input type="checkbox" name="bathIncluded" id="bathIncluded" > Bath Included<br>
                              <% } %>
                        </div>
                    </div>



                    <div class="row form-group">
                        <div class="col-sm-12">
                            <input type="submit" name="editproperty" id="editproperty" class="form-control btn btn-primary" value="Edit property">
                        </div>
                    </div>
                </form>

            </div>

                <div class="col-sm-6"> 

                <div id="map" class="col-sm-12"> </div>
                <p id="propID">The id of the property is <%= accomodation._id %></p>
                </div>
                <script>
                  var map;
                  function initMap() {
                    var selectedProperty = document.getElementById('coords').innerHTML;
                    var commaPos = selectedProperty.indexOf(',');
                    var coordinatesLong = parseFloat(selectedProperty.substring(0, commaPos));
                    var coordinatesLat = parseFloat(selectedProperty.substring(commaPos + 1, selectedProperty.length));
                    //var propertyLoc = new google.maps.LatLng(coordinatesLat, coordinatesLong);
                    var houseLoc = {lat: coordinatesLat, lng: coordinatesLong};

                    //var selectedProperties = {lat: -25.363, lng: 131.044};

                    map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 14,
                      center: houseLoc,
                      mapTypeId: 'roadmap'
                  });

                    var marker = new google.maps.Marker({
                      position: houseLoc,
                      map: map
                    });


           //  Create a <script> tag and set the USGS URL as the source.
           //  var script = document.createElement('script');
           //  map.data.loadGeoJson(href = "https://api.myjson.com/bins/uug2d");
           //  map.data.setStyle({

           //     fillColor: 'blue'
           // });


            //document.getElementsByTagName('head')[0].appendChild(script);
        }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKt1JynmQnjE6niCiisa0zXlmWXcGRg-w&callback=initMap">
</script>
</div>
</div>
<hr>
<div class="container text-center">

    <p>You are logged in as: <%= user.firstName %><br></p>



</div>



</div>
</body>
<script>

</script>
</html>