<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">

     <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>


    <title>UniRooms - My Favourites</title>

    <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
            height: 30em;
            width:150em;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        </style>
</head>

<body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #1daa76 !important;">
                <a class="navbar-brand" href="#"><img src="/images/unirooms.jpg" height=30 width=100></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                              <a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/propertylist">View Properties</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/favourites">My Favourites</a>
                            </li>
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Support tickets
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="/newticket">Add new ticket</a>
                                      <a class="dropdown-item" href="/mysupporttickets">View my tickets</a>
                                  </li>

                            <% if(user.role== "admin"){ %>
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Admin options
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="/addProperty">Add Property</a>
                                      <a class="dropdown-item" href="/userlist">View Users</a>
                                      <a class="dropdown-item" href="/allsupporttickets">View all support tickets</a>
                                      
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="/newpoi">Add new POI</a>
                                      <a class="dropdown-item" href="/viewallpoi">View all POI</a>
                                    </div>
                                  </li>
                                  <% } %>

                  </ul>
                  <span class="navbar-text">
                      <% if(user.role== "admin"){ %>
                          <b style="color:#aa3f3f">ADMIN</b>
                      <% } %>

                    <b>Welcome <%= user.firstName %></b>, <%= user.email %> <a href="/logout">logout </a>
                  </span>
                </div>
              </nav>



    <div class="container-fluid text-center">
<input type="text" id="userID" class="form-control" name="userID" form="removefav" value="<%= user._id %>" hidden required />
    <table id="favouriteslist" class="table table-striped table-bordered " style="width:100%;">
            <thead>
                <tr>
                    <th> fav id </th>
                    <th>_id</th>
                    <th>Address L1</th>
                    <th>Options</th>

                </tr>
            </thead>
            <tbody>
            <% user.favourites.forEach(function ( user ) { %>
                <tr>
                <td> <%= user._id %> </td> 
                <td><%= user.propertyID %> </td>
                <td><%= user.propertyAddrL1 %></td>
                <td><a href="/viewproperty?propID=<%= user.propertyID %>"><i class="fa fa-search" title="View property"></i></a>


                  <form action="/removefavourite" id="removefav" method="post">
                          

                        <div class="row form-group input_group">
                          <div class="col-sm-12">
                            <input type="text" id="favouriteID" class="form-control" name="favouriteID" value="<%= user._id %>"  hidden required/>
                          </div>
                        </div>

                          <div class="row form-group">
                          <input type="submit" id="removefavourite" class="form-control btn btn-outline-primary" value="remove from favourites">
                        </div>
                      
                  </form>
                </td>
                </tr>
                <% }) %>
            </tbody>

        </table>


    </div>
</body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#favouriteslist').DataTable({
      dom:  "<'row'<'col-md-4'l><'col-md-4'><'col-md-4'f>>" +
            "<'row'<'col-md-4'><'col-md-4'B><'col-md-4'>>" +
            "<'row'<'col-sm-6'><'col-sm-6'>>" +
            "<'row'<'col-sm-12't>><'row'<'col-sm-12'ip>>"
      //dom: 'Bfltipr'
    });
} );

</script>
</html>